.table-cell-input:disabled {
	border: 1px solid transparent;
	background-color: transparent !important;
}
.export-btn {
	display: inline-block;
	padding: 0 !important;
}

.export-btn > a {
	display: inline-block;
	padding: 15px;
}

.invalid-info {
	color: #dc3545;
}

.invalid-info > td {
	text-align: center;
}